.question-item{
    background-color: #F8FBFA;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}
.question-item__text__min-screen{
    display: none;
}
.question-item__title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-item h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    color: #364844;
}
.question-item img{
    padding-right: 40px;
}
.question-item p{
    padding-top: 16px;
}

@media (max-width: 948px) {

    .question-item{
        padding: 12px;
    }
    .question-item h2{
        font-size: 18px;
        line-height: 23px;
    }
    .question-item p{
        font-size: 14px;
        line-height: 21px;
        padding-top: 14px;
    }
}
@media (max-width: 750px) {
    .question-item__title__img{
        display: none;
    }
    .container{
        max-width: 540px;
    }
    .question-item{
        cursor: none;
    }
    .question-item__text{
        display: none;
    }
    .question-item__text__min-screen{
        display: block;
    }
}
@media (max-width: 600px) {
    .container{
        max-width: 340px;
}}